{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "modules": true
    },
    "sourceType": "module"
  },
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "space-before-function-paren": "off",
    "no-unused-vars": "off"
  }
}
